<div class="grid grid-cols-1 gap-4 p-4 text-black md:grid-cols-2 xl:grid-cols-3 dark:text-white">
  <div class="md:col-span-2 xl:col-span-3">
    <h3 class="text-lg font-semibold">Gestión de Tareas</h3>
  </div>

  @for (list of list(); track list) {
    <div class="md:col-span-1">
      <div class="rounded bg-gray-200 p-3 dark:bg-gray-800">
        <div class="flex h-12 items-center justify-between py-1 text-black dark:text-white">
          <h3 class="text-sm font-semibold">{{ list.title }}</h3>
          <div class="flex items-center justify-end">
            @if (list.id === 'done' && list.tasks.length > 0) {
              <button (click)="taskState.restartTask()">
                <i
                  class="fa-solid fa-arrow-rotate-left mr-2 cursor-pointer text-gray-600 dark:text-gray-500"
                ></i>
              </button>
            }
            <i
              class="fa-solid fa-ellipsis cursor-pointer fill-current text-gray-600 dark:text-gray-500"
            ></i>
          </div>
        </div>

        <div
          class="mt-2 min-h-24 space-y-2 text-black text-shadow-2xs dark:text-gray-50"
          cdkDropList
          [id]="list.id"
          [cdkDropListData]="list.tasks"
          [cdkDropListConnectedTo]="connectedLists()"
          (cdkDropListDropped)="taskDropped.emit($event)"
        >
          @for (task of list.tasks; track task.id) {
            <task-card
              [task]="task"
              (delete)="deleteTask.emit($event)"
              (edit)="editTask.emit($event)"
            />
          }
          @if (list.tasks.length === 0) {
            <p class="text-sm text-gray-400">Arrastrar tareas aquí</p>
          }
        </div>
        @if (list.id === 'todo') {
          <button
            class="mt-3 cursor-pointer text-sm text-gray-400 hover:text-black dark:hover:text-white"
            (click)="addTask.emit(list.id)"
          >
            + Agregar tarea
          </button>
        }
      </div>
    </div>
  }
</div>
