<div class="fixed z-10 flex h-14 w-full items-center justify-between text-white">
  <div
    class="flex h-14 w-14 items-center justify-start border-none bg-blue-800 pl-3 md:w-64 md:justify-start dark:bg-gray-800"
  >
    <i class="fa-solid fa-layer-group text-lg transition-colors hover:text-blue-200"></i>
    <span class="ml-2 hidden md:block">Finance Manager</span>
  </div>
  <div class="header-right flex h-14 items-center justify-end bg-blue-800 dark:bg-gray-800">
    <ul class="flex items-center">
      <li>
        <div class="mx-3 block h-6 w-px bg-gray-400 dark:bg-gray-700"></div>
      </li>
      <li>
        <a href="#" class="mr-4 flex items-center hover:text-blue-100">
          <span class="mr-1 inline-flex">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
              ></path>
            </svg>
          </span>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
