<div
  class="flex h-14 w-full items-center justify-between bg-blue-800 px-4 text-white dark:bg-gray-800"
>
  <div class="flex items-center gap-2">
    <i class="fa-solid fa-layer-group text-lg hover:text-blue-200"></i>
    <span>Finance Manager</span>
  </div>

  <div class="flex items-center">
    <div class="mx-3 h-6 w-px bg-gray-400 dark:bg-gray-700"></div>

    <a href="#" class="mr-4 flex items-center hover:text-blue-100">
      <svg class="mr-1 h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 16l4-4m0 0l-4-4m4 4H7"
        ></path>
      </svg>

      Logout
    </a>
  </div>
</div>
